{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
<a data-target="#change-status" data-toggle="modal" href="{% url 'change_status' original.pk %}" class="btn btn-primary btn-sm" style="margin-left: 250px; margin-top: -97px; position: absolute;">Change Status</a>
{% endblock %}


<div class="modal fade" id="change-status" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        	<div class="modal-header">
				<h4 id="modal-label-3" class="modal-title">Size Guide or Custom Size</h4>
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
			</div>
            <div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						&nbsp;
					</div>
				</div>
			</div>
        </div>
    </div>
</div>