{% extends 'hoitymoppet/master-inner.html' %}
{% block title %} {{ product_cat }} : Hoitymoppet India {% endblock %}
{% load static %}
{% load humanize %}
{% block body %}
<section id="page-content" class="background-light" style="padding: 0px 0;">
    <div class="container-fluid">
        <h3 id="{{ product_cat.id }}" style="text-align: center; margin-top: 40px; margin-bottom: 40px;">{{ product_cat }}
            <div class="breadcrumb" style="padding: 0px; margin-bottom: 0px; text-align: center;">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% if product_cat.parent_category %}
                    <li><a href="{% url 'subcategory' product_cat.parent_category.id %}">{{ product_cat.parent_category }}</a></li>
                    {% endif %}
                    <li class="active">{{ product_cat }}</li>
                </ul>
            </div>
        </h3>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% for item in display_items %}
            {% if item.item_display_in_row == "product" %}
            <div class="grid-layout grid-{{ item.item_display }}-columns" data-item="grid-item" data-margin="10">
                {% for product in products %}
                <div class="grid-item" style="margin-top: 10px;">
                    <div class="widget text-center border-box p-cb shop-category-box img-hover" style="padding: 0px; overflow: hidden;">
                        {% if request.user.is_authenticated %}
                            <span class="product-wishlist" style="position: absolute; float: right; right: 10px; top: 10px; border: none; z-index: 99999;">
                                {% if product.id in disable_attr %}
                                    <a href="{% url 'wishlist' product.id %}" class="add-to-wishlist" title="This product is already added in wishlist." style="color: #ff00fc; pointer-events: none;">
                                        <i class="fa fa-heart" style="font-size: 22px;"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'wishlist' product.id %}" class="add-to-wishlist" title="Add To Wishlist">
                                        <i class="icon-heart" style="font-size: 22px;"></i>
                                    </a>
                                {% endif %}
                            </span>
                        {% else %}
                            <span class="product-wishlist" style="display: none;">
                                &nbsp;
                            </span>
                        {% endif %}
                        <a href="{% url 'productdetails' product_cat.id product.slug %}">
                            <img alt="{{product.product_name}}" src='/media/{{product.productimage}}' alt="{{product.product_name}}" style="width: 100%; height: auto;" title="{{product.product_name}}" />
                        </a>
                    </div>
                    <div class="shop-category-box-title text-center" style="border: 1px solid #cccccc; background: #ffffff; margin-top: -7px; padding-bottom: 10px;">
                        <h6 style="font-size: 13px; font-weight: 500; color: #000000; text-transform: capitalize;">
                            <a href="{% url 'productdetails' product_cat.id product.slug %}">{{product.product_name}}</a>
                        </h6>
                        <div class="product-price">
                            {% if product.discount_price %}
                                <ins style="color: #000000; font-size: 13px; font-weight: 400;">
                                    <i class="fa fa-rupee-sign"></i> 
                                    {{ product.discount_price|intcomma }}
                                </ins> &nbsp;
                                <ins style="text-decoration: line-through; color: #9a9a9a; font-size: 13px;">
                                    <i class="fa fa-rupee-sign"></i>
                                    {{ product.price|intcomma }}
                                </ins>
                            {% else %}
                                <ins style="color: #000000; font-size: 13px; font-weight: 400;">
                                    <i class="fa fa-rupee-sign"></i>
                                    {{ product.price|intcomma }}
                                </ins>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <hr>
        <div class="custompagination">
            {% if products.has_previous %}
                <a class="custompagination-action" href="?page=1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ products.previous_page_number }}" style="margin-right: 10px;">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            {% endif %}
            {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                    <span class="custompagination-number custompagination-current">{{ num }}</span>
                {% else %}
                    <a class="custompagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <a class="custompagination-action" href="?page={{ products.next_page_number }}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="custompagination-action" href="?page={{ products.paginator.num_pages }}">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <br>
</section>
{%include 'hoitymoppet/advertise-box.html'%}
{% endblock %}