{% extends 'hoitymoppet/master.html' %}
{% load static %}
{% block body %}

<div class="shop-area blog-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details">
                    <div class="blog-title">
                        <a href="#" class="catlink">Technology</a>
                        <h2>Look More Intelligent By Adjusting Two Aspects Of Your Facial Expression</h2>
                    </div>
                    <img src='{% static "images/blog/lg/1.jpg" %}' alt="" class="mb-20" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.</p>
                    <blockquote>“ Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them.” _ Steven Jobs </blockquote>
                    <h3>Kindness makes you happy</h3>
                    <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    <img src='{% static "images/blog/lg/2.jpg" %}' alt="" class="mb-20" />
                    <p>Aboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conslaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ve niam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in datat non proident, sunt in. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit volupt atem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis dicta sunt explicabo. Nemo enim ipsam voluptatem quia volupta.</p>
                </div>
                <div class="blog-tag-social mt-25">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="tags-list">
                                <a href="#">Equipments </a>
                                <a href="#">Plant</a>
                                <a href="#">Seed</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="social-icons style-5 text-right">
                                <span>Share:</span>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}