{% extends 'hoitymoppet/master.html' %}
{% block title %} Hoitymoppet Blog {% endblock %}
{% load static %}
{% block body %}

<div class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-blog">
                            <div class="blog-thumb">
                                <a href="blog-detai.html"><img src='{% static "images/blog/1.jpg" %}' alt="" /></a>
                            </div>
                            <div class="blog-desc mt-20">
                                <a href="#" class="catlink">New</a>
                                <h4><a href="blog-detai.html">The Personality Trait That Makes People Happier</a></h4>
                                <div class="blog-meta">
                                    <ul class="list-none">
                                        <li><a href="#">May 19, 2017</a></li>
                                        <li><span>|</span></li>
                                        <li><a href="#">3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog">
                            <div class="blog-thumb">
                                <a href="blog-detai.html"><img src='{% static "images/blog/2.jpg" %}' alt="" /></a>
                            </div>
                            <div class="blog-desc mt-20">
                                <a href="#" class="catlink">Tech</a>
                                <h4><a href="blog-detai.html">The 2 Ways A Psychopath’s Brain Is Really Unusual</a></h4>
                                <div class="blog-meta">
                                    <ul class="list-none">
                                        <li><a href="#">May 19, 2017</a></li>
                                        <li><span>|</span></li>
                                        <li><a href="#">3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-05">
                        <div class="single-blog">
                            <div class="blog-thumb">
                                <a href="blog-detai.html"><img src='{% static "images/blog/3.jpg" %}' alt="" /></a>
                            </div>
                            <div class="blog-desc mt-20">
                                <a href="#" class="catlink">New</a>
                                <h4><a href="blog-detai.html">The Personality Trait That Makes People Happier</a></h4>
                                <div class="blog-meta">
                                    <ul class="list-none">
                                        <li><a href="#">May 19, 2017</a></li>
                                        <li><span>|</span></li>
                                        <li><a href="#">3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-05">
                        <div class="single-blog">
                            <div class="blog-thumb">
                                <a href="blog-detai.html"><img src='{% static "images/blog/4.jpg" %}' alt="" /></a>
                            </div>
                            <div class="blog-desc mt-20">
                                <a href="#" class="catlink">Hot News</a>
                                <h4><a href="blog-detai.html">The Female Body Shape Men Find Most Attractive</a></h4>
                                <div class="blog-meta">
                                    <ul class="list-none">
                                        <li><a href="#">May 19, 2017</a></li>
                                        <li><span>|</span></li>
                                        <li><a href="#">3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-05">
                        <div class="single-blog">
                            <div class="blog-thumb">
                                <a href="blog-detai.html"><img src='{% static "images/blog/4.jpg" %}' alt="" /></a>
                            </div>
                            <div class="blog-desc mt-20">
                                <a href="#" class="catlink">Hot News</a>
                                <h4><a href="blog-detai.html">The Female Body Shape Men Find Most Attractive</a></h4>
                                <div class="blog-meta">
                                    <ul class="list-none">
                                        <li><a href="#">May 19, 2017</a></li>
                                        <li><span>|</span></li>
                                        <li><a href="#">3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-05">
                        <div class="single-blog">
                            <div class="blog-thumb">
                                <a href="blog-detai.html"><img src='{% static "images/blog/5.jpg" %}' alt="" /></a>
                            </div>
                            <div class="blog-desc mt-20">
                                <a href="#" class="catlink">Hot News</a>
                                <h4><a href="blog-detai.html">How To Get a Narcissist to Feel Empathy</a></h4>
                                <div class="blog-meta">
                                    <ul class="list-none">
                                        <li><a href="#">May 19, 2017</a></li>
                                        <li><span>|</span></li>
                                        <li><a href="#">3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

{% endblock %}