{% extends 'hoitymoppet/master-inner.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section id="page-title" class="text-light"></section>
<section id="shop-cart" style="padding-top: 10px;">
	<div class="container" style="background: #ffffff;">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div><br>
        {% endfor %}
    {% endif %}
    </div>
	<div class="container">
		<div class="row">
            <div class="breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'profile' %}">Profile Information</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Wishlist</li>
                    </ol>
                </nav>
            </div>
        </div>
		<div class="shop-cart">
			<div class="table table-sm table-striped table-responsive">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th class="cart-product-remove"></th>
							<th class="cart-product-thumbnail">Product</th>
							<th class="cart-product-price">Size</th>
							<th class="cart-product-price">User Custom Sizes</th>
							<th class="cart-product-price">Price</th>
							<th class="cart-product-subtotal">Add to cart</th>
						</tr>
					</thead>
					<tbody>
						{% if items %}
						{% for item in items %}
						<form method="POST" action="{% url 'update-cart' item.product_id.id %}">
                        {%csrf_token%}
						<tr class="userwishlist" style="font-size: 13px;" id="{{ item.id }}">
							<td class="cart-product-remove">
								<a href="{% url 'delete-wishlist' item.id %}">
									<i class="fa fa-times"></i>
								</a>
							</td>
							<td class="cart-product-thumbnail">
								<a href="{%url 'productdetails' item.product_id.id%}">
									<img src={{item.product_id.productimage.url}} alt="{{item.product_id.product_name}}" title="{{item.product_id.product_name}}" style="border:1px solid #cccccc; border-radius: 5px;">
								</a>
								<div class="cart-product-thumbnail-name">
									<a href="{%url 'productdetails' item.product_id.id%}">
										{{item.product_id.product_name}}
									</a><br>
									<a class="amount" href="{%url 'productdetails' item.product_id.id%}">	{{item.product_id.style}}
									</a><br>
									{% for color in item.product_id.color.all %}
	                                <div class="squaredThree" style="margin-top: 5px;">
	                                    <input type="checkbox" name="product_color" id="product_color{{ item.id }}{{ color.id }}" value="{{ color }}">
	                                    <label for="product_color{{ item.id }}{{ color.id }}" style="background:{{ color }}; outline:1px solid #cccccc;"></label>
	                                </div>
	                                {% endfor %}
								</div>
							</td>
							<td>
								<select name="size" id="size{{ item.id }}" style="width: 150px; padding: 5px;" required>
									<option value="">Select Size</option>
									{% for age in item.product_id.age.all %}
									<option value="{{ age }}">{{ age }}</option>
									{% endfor %}
									<option value="custom-size">Custom Size</option>
								</select>
							</td>
							<td>
								{% for ucsitem in usercustomsizes %}
                                    <div class="form-check">
                                        <input class="form-check-input form-check-input{{ item.id }}" name="usercustomsizes" id="usercustomsizes" value="{{ ucsitem.user_custom_size_name }} (id={{ucsitem.id}})" type="radio">
                                        <label class="form-check-label" for="radio{{ ucsitem.id }}" data-container="body" data-toggle="popover" data-placement="right" title="" data-trigger="hover" data-title="{{ ucsitem.user_custom_size_name }} (id={{ucsitem.id}})" data-content="Shoulder to apex : {{ucsitem.shoulder_to_apex}},<br>
                                        Cap sleeve length : {{ucsitem.cap_sleeve_length}},<br>
                                        Short sleeve length : {{ucsitem.short_sleeve_length}},<br>
                                        Three fourth to apex : {{ucsitem.three_fourth_to_apex}},<br>
                                        Full sleeve length : {{ucsitem.full_sleeve_length}},<br>
                                        Knee round : {{ucsitem.knee_round}},<br>
                                        Calf :  {{ucsitem.calf}},<br>
                                        Ankle round : {{ucsitem.ankle_round}},<br>
                                        Waist length : {{ucsitem.waist_length}},<br>
                                        Neck round : {{ucsitem.neck_round}},<br>
                                        Front neck depth : {{ucsitem.front_neck_depth}},<br>
                                        Cross front : {{ucsitem.cross_front}},<br>
                                        Bust : {{ucsitem.bust}},<br>
                                        Under bust : {{ucsitem.under_bust}},<br>">
                                            {{ ucsitem.user_custom_size_name }} <span style="font-weight: bold; cursor: pointer; color: #0032a0;">[?]</span>
                                        </label>
                                    </div>
                                {% endfor %}
							</td>
							<td class="cart-product-price">
								{% if item.product_id.discount_price %}
									{{ item.product_id.country.currency_symbol|safe }} 
									<span class="amount">
										{{ item.product_id.discount_price|intcomma }}
									</span>
									<br>
									{{ item.product_id.country.currency_symbol|safe }}
									<span class="amount" style="text-decoration: line-through;">
										{{ item.product_id.price|intcomma }}
									</span>
								{% else %}
									{{ item.product_id.country.currency_symbol|safe }}
									<span class="amount">
										{{ item.product_id.price|intcomma }}
									</span>
								{% endif %}

								<!-- {{ item.product_id.country.currency_symbol|safe }} 
								<span class="amount">
									{{ item.product_id.discount_price|intcomma }}
								</span>
								<br>
								{{ item.product_id.country.currency_symbol|safe }}
								<span class="amount" style="text-decoration: line-through;">
									{{ item.product_id.price|intcomma }}
								</span> -->

							</td>
							<td class="cart-product-subtotal">
								<button type="submit" class="btn btn-sm" value="Add to cart">
                                    <i class="icon-shopping-cart"></i>&nbsp; Add to cart
                                </button>
							</td>
						</tr>
						</form>
						{% endfor %}
						{% else %}
                        <tr>
                            <td colspan="6" style="font-size: 13px; text-align: center;">
                                <br>Still ! You have not added any product in your wishlist.<br><br>
                            </td>
                        </tr>
						{% endif %}
					</tbody>
				</table>
			</div>	
		</div>
	</div>
</section>
{% endblock %}