{% extends 'hoitymoppet/master-inner.html' %}
{% load static %}
{% block body %}
{% for terms in terms %}
<section class="text-light" style="background: url('/media/{{terms.upload_image}}'); background-position: top; background-size: cover;">
	<div class="container" style="min-height: 450px; border: 1px solid #828282; padding: 30px; background: rgb(0,0,0,0.7);">
        <h2>{{ terms.terms_name }}</h2>
        <p>{{ terms.terms_details|safe }}</p>
    </div>
</section>
{% endfor %}
{% endblock %}