{% load static %}
<div class="billing-form accounts edit_address_box" id="form{{address.id}}" style="display:none;">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-2">
                <label>Name</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_fullname" placeholder="Enter Full Name" name="name" value="{{ address.name }}" />
            </div>
            <div class="col-lg-2">
                <label>Mobile</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_mobile" placeholder="Enter Mobile" name="mobile_no" value="{{ address.mobile_no }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Pincode</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_pincode" name="pincode" placeholder="Enter Pincode" value="{{ address.pincode }}" />
            </div>
            <div class="col-lg-2">
                <label>Locality</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_locality" name="locality" placeholder="Enter Locality" value="{{ address.locality }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Address</label>
            </div>
            <div class="col-lg-10">
                <textarea class="user_address" name="address" placeholder="Enter Address">{{ address.address }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>City</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_city" name="city" placeholder="Enter City" value="{{ address.city }}" />
            </div>
            <div class="col-lg-2">
                <label>State</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_state" name="state" placeholder="Enter State" value="{{ address.state }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Landmark</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_landmark" name="landmark" placeholder="Enter Landmark" value="{{ address.landmark }}" />
            </div>
            <div class="col-lg-2">
                <label>Alternate Mobile</label>
            </div>
            <div class="col-lg-4">
                <input type="text" class="user_alter_mobile" name="alternate_no" placeholder="Enter Alternate Mobile" value="{{ address.alternate_no }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn-commonaccounts">Submit</button>
            </div>
        </div>
    </form>
</div>
<br>