{% extends '../hoitymoppet/master-inner.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<style type="text/css">
    /*.menu-center {
        visibility: hidden;
    }

    .header-extras {
        visibility: hidden;
    }*/

    #mainMenu-trigger {
        display: none;
    }

    .background-black {
        display: none;
    }

    .footer-content {
        display: none;
    }
</style>
<section style="padding-top: 10px; background: url({% static 'images/5.jpg' %}); background-position: top; background-size: cover;">
    <div class="container" style="min-height: 450px;">
        <div class="row">
            <div class="breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}" style="color: #ffffff;">Home</a></li>
                        <li><a href="{% url 'login' %}" style="color: #ffffff;">User Login</a></li>
                        <li class="breadcrumb-item active" style="color: #ffffff;" aria-current="page">Forgot Password</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-lg-6" style="background: #ffffff;">
                <div class="widget widget-form p-cb">
                    <h3>Forgot Password</h3>
                    <div class="alert alert-info">
                        An email has been sent with instructions to reset your password
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}