.django-tabbed-changeform-admin-tabs {
    margin-bottom: 20px;
}

.ui-widget-header {
    background-color: #ffffff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border:1px solid #ffffff;
    background:#ffffff;
    color:#fff
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #0032a0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border:1px solid #fff;
    background:#fff;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #000;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.ui-widget-header {
	border: none;
    border-bottom: 1px solid #cccccc;
}

.ui-widget.ui-widget-content {
    border: 1px solid #ffffff;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: .8em 1.7em;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 2em 1em;
    background: none;
}